extends dashboardMain
block content
	.outerWrapper(style="width:100%;margin-top:76px")
		.ta(style="width:40%;height:600px;display:inline-block;float:left;border-left:solid 1px #d1d1d1")
			.tc(style="font-size:14px;color:#555;font-weight:bold;padding:10px;background-color:#555;color:#fff") Manage Offers
				button.btn.btn-warning.btn-xs(data-toggle="modal",data-target="#composer",style="float:right") Compose Offer
			.tb(style="padding:5px")
				
		.ta(style="width:0%;display:inline-block;position:fixed;float:left;border-left:solid 1px #e5e5e5;height:100%")
