extends main
block content
	.outerWrapper
		.mainRow(style="height:100%;width:100%;position:absolute")
			.headerHolder(style="height:60px;width:100%;padding:20px;background-color:none")
				.header(style="width:800px;margin:auto")
					.logo(style="font-family:Open Sans,Helvetica;font-size:23px;float:left;font-weight:bold;color:#5c5c5c;margin-top:-6px;padding-left:30px")
						img(src="/images/logo.png",style="width:auto;margin:10px 10px 0px 200px")
						img(src="/images/titleLogo.png",style="width:120px;margin:0px")
					.mainNav(style="float:right;color:#fff;font-weight:bold;font-size:14px")
						ul(style="list-style:none")
							li(style="float:left")
								a(style="color:#fff;text-decoration:none;padding:20px;font-size:14px",href="http://www.instaoffers.co/app") App
							li(style="float:left;margin-top:-4px")
								a(style="color:#fff;text-decoration:none;font-size:12px",href="https://www.facebook.com/pages/InstaOffers/526750397436381")
									img(src="/images/fb.png",style="float:right;width:32px;margin:0px 20px")
							li(style="float:left;margin-top:-4px")
								img(src="/images/tw.png",style="float:right;width:32px;margin:0px 20px")
			.mainHolder(style="width:100%;height:480px;position:absolute;margin:auto;padding:20px")
				.mainContent(style="width:800px;margin:auto")
					.download(style="width:60%;background-color:#e5e5e5;border-radius:5px;float:right")
						.downloadHolder(style="width:120px;margin:auto")
							.downloadText(style="font-size:20px;font-weight:bold;color:#4c4c4c;text-align:center") Download
							img(src="/images/googleplay.png",style="float:left",width="120px")
			.footer(style="position:absolute;bottom:24px;width:100%")
				.footerNav(style="margin:auto;width:490px")
					ul(style="list-style:none;font-weight:bold;font-size:13px;float:left;margin:0px;padding:0px")
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/team") Team
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/blogs") Blogs
							li(style="float:left")
								a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/dashboard") Business
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/support") Support
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px") @2014 InstaOffers
