extends main
block content
	.outerWrapper
		.mainRow
			.headerHolder
				.header
					.logo
						img(src="/images/logo.png",style="width:auto;margin:0px 10px")
						img(src="/images/titleLogo.png",style="width:120px;margin:0px")
					.mainNav
						ul
							li(style="float:left")
								a(style="color:#fff;text-decoration:none;padding:20px;font-size:1.1em",href="http://www.instaoffers.co/app") App
							li(style="float:left;margin-top:-4px")
								a(style="color:#fff;text-decoration:none;font-size:12px",href="https://www.facebook.com/pages/InstaOffers/526750397436381")
									img(src="/images/fb.png",style="float:right;width:32px;margin:0px 20px")
							li(style="float:left;margin-top:-4px")
								img(src="/images/tw.png",style="float:right;width:32px;margin:0px 20px")
			.mainHolder
				.mainContent(style="width:600px;margin:auto")
					img(src="/images/mobile.png",style="float:left;max-height:480px",width="auto",height="460px")
					.download(style="width:auto")
						.downloadHolder
							.downloadText(style="padding:120px 0px 0px;font-family:sans;color:#fff;font-size:34px;text-shadow:1px 0px 1px #4c4c4c, -1px 0px 1px #4c4c4c,0px 1px 0px #4c4c4c,0px -1px 0px #4c4c4c") Explore Offers
							.downloadText(style="font-family:sans;color:#fff;font-size:34px;text-shadow:1px 0px 1px #4c4c4c, -1px 0px 1px #4c4c4c,0px 1px 0px #4c4c4c,0px -1px 0px #4c4c4c") near you.
							img(src="/images/gplay.png",style="width:180px")
			.footer(style="position:absolute;bottom:24px;width:100%")
				.footerNav(style="margin:auto;width:490px")
					ul(style="list-style:none;font-weight:bold;font-size:1.1em;float:left;margin:0px;padding:0px")
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/dashboard") Business
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/team") Team
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/blogs") Blogs
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/support") Support
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px") @2014 InstaOffers
