extends main
block content
	.outerWrapper
		.mainRow
			.headerHolder
				.header
					.logo
						img(src="/images/logo.png",style="width:auto;margin:0px 10px")
						img(src="/images/titleLogo.png",style="width:auto;margin:0px")
					.mainNav
						ul
							li(style="float:left")
								a(style="color:#fff;text-decoration:none;padding:20px;",href="http://www.instaoffers.co/app") App
							li(style="float:left;margin-top:-4px")
								a(style="color:#fff;text-decoration:none;font-size:12px",href="https://www.facebook.com/pages/InstaOffers/526750397436381")
									img(src="/images/fb.png",style="float:right;margin:0px 20px")
							li(style="float:left;margin-top:-4px")
								img(src="/images/tw.png",style="float:right;margin:0px 20px")
			.mainHolder
				.mainContent
					.mobImage
						img(src="/images/mobile.png",style="float:left",width="40%",height="auto")
					.download(style="width:auto")
						.downloadHolder
							.downloadText(style="padding:120px 0px 0px;font-family:Open Sans,Helvetica,Tahoma,Arial;color:#fff;text-shadow:1px 0px 1px #4c4c4c, -1px 0px 1px #4c4c4c,0px 1px 0px #4c4c4c,0px -1px 0px #4c4c4c") Explore Offers
							.downloadText(style="font-family:Open Sans,Helvetica,Tahoma,Arial;color:#fff;text-shadow:1px 0px 1px #4c4c4c, -1px 0px 1px #4c4c4c,0px 1px 0px #4c4c4c,0px -1px 0px #4c4c4c") near you.
							img(src="/images/gplay.png",style="width:40%")
			.footer
				.footerNav(style="margin:auto;")
					ul(style="list-style:none;font-weight:bold;float:left;")
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",data-toggle="modal",data-target="#loginModal",href="#") Business
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/team") Team
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px",href="http://www.instaoffers.co/support") Support
						li(style="float:left")
							a(style="color:#fff;text-decoration:none;padding:14px") @2014 InstaOffers
			.modal.fade(id="loginModal",tabindex="-1",role="dialog",aria-labelledby="loginModalLabel",aria-hidden="true")
				.modal-dialog
					.modal-content(style="background-color:#e5e5e5")
						.modal-header
							button.close(type="button",data-dismiss="modal")
								span(aria-hidden="true") &times;
								span.sr-only Close
							h4.modal-title(id="myModalLabel") Modal title
						.modal-footer(style="margin-top:0px")
							button.btn.btn-default(type="button",data-dismiss="modal",style="width:100%")
								fb:login-button(scope="public_profile,email",onlogin="checkLoginState();",style="width:100%")
							button.btn.btn-default(type="button",data-dismiss="modal",style="width:100%") Close
