doctype html
html
	head
		title=title
		link(rel='stylesheet',href='/stylesheets/main.css')
		link(rel='stylesheet',href='/stylesheets/bootstrap.min.css')
		link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,800',rel='stylesheet',type='text/css')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/bootstrap.min.js')
		include login.js
	body(style="margin:0px;font-family:Helvetica,Tahoma,Arial;font-size:14px;background-color:#4c4c4c")
		block content
