html{
width: 100%;
height: 100%;
}

body{
margin: 0px;
padding: 0px;
background-color: #4c4c4c;
font-family: "Open Sans",Helvetica,Tahoma,Arial;
background-image:url('/images/back.jpg');
background-repeat:no-repeat;
background-position:0px center;
-webkit-background-size:cover;
-moz-background-size:cover;
-o-background-size:cover;
background-size:cover;
width:auto;
height:100%;
}
@media (max-width: 6000px) and (min-width:1024px){
  .mainRow{
    height:100%;
    width:100%;
    position:absolute;
  }
  .headerHolder{
    height: 60px;
    width:100%;
    padding:20px;
  }
  .header{
    width:800px;
    margin:auto;
  }
  .logo{
    float:left;
    margin-top: -6px;
    padding-left: 30px;
  }
  .mainNav{
    float:right;
    color:#fff;
    font-weight:bold;
  }
  .mainNav ul{
    list-style: none;
  }
  .mainHolder{
    width:100%;
    height:480px;
    margin:auto;
    padding:20px;
  }
  .footer{
    position: absolute;
    bottom: 24px;
    width:100%;
  }
}

@media (max-width: 1024px) and (min-width:160px){
  .mainRow{
    height:100%;
    width:100%;
    position:absolute;
  }
  .headerHolder{
    height: 60px;
    width:100%;
    padding:20px;
  }
  .header{
    width:800px;
    margin:auto;
  }
  .logo{
    float:left;
    margin-top: -6px;
    padding-left: 30px;
  }
  .mainNav{
    float:right;
    color:#fff;
    font-weight:bold;
  }
  .mainNav ul{
    list-style: none;
    font-size: 3rem;	
  }
  .mainNav img{
    max-height:50px;
  }
  .mainHolder{
    width:100%;
    height:480px;
    margin:50px auto;
    padding:20px;
  }
  .mainContent{
    margin: auto;
  }
  .mainContent img{
    width: 60%;
  }
  .downloadText{
    font-size:5rem;
  }	
  .footer{
    bottom: 24px;
    width:100%;
  }
  .footerNav{
    width: 700px;
    margin: auto;
  }
  .footerNav a{
    font-size: 3rem;
  } 
  .footerNav ul{
    margin-top: 50px;
    padding:0px;
  }
}
